repos:
- repo: https://github.com/astral-sh/ruff-pre-commit
  # Ruff version.
  rev: v0.15.0
  hooks:
    # Run the linter.
    - id: ruff-check
- repo: https://github.com/pre-commit/mirrors-mypy    
  rev: 'v1.19.1'
  hooks:
    - id: mypy
      #args: [--strict, --ignore-missing-imports]
- repo: https://github.com/codespell-project/codespell
  rev: v2.4.1
  hooks:
  - id: codespell


